<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Grammar</title>
</head>
<body>
<div style="text-align: center;">
    <form action="/grammar" method="post">
        <label for="txt">Enter The Text:</label><br>
        <textarea name="txt" cols="50" rows="10"></textarea><br>
        <button type="submit">Check</button>
    </form>
</div>
</body>
</html>