<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Recordings - Practee Technologies</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/vimeoLogin.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var Message = '<%- Message %>'
    </script>
</head>

<body>
    <div id="pageloader">
        <img src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="processing..." />
    </div>
    <div class='box'>
        <div class='box-form'>
            <div class='box-login-tab'></div>
            <div class='box-login-title'>
                <div class='i i-login'></div>
                <h2>SESSION RECORDINGS</h2>
            </div>
            <div class='box-login'>
                <div class='fieldset-body' id='login_form'>
                    <button class='b b-form i i-more' title='Mais Informações'></button>
                    <form id="myform" method="POST">
                        <p class='field'>
                            <label for='user'>NAME</label>
                            <input type='text' id='user' name='user' title='Username' />
                            <span id='valida' class='i i-warning'></span>
                        </p>
                        <p class='field'>
                            <label for='pass'>E-MAIL</label>
                            <input type='text' id='pass' name='pass' title='Password' />
                            <span id='valida' class='i i-close'></span>
                        </p>

                        <input type='submit' id='do_login' value='GET STARTED' title='GET SESSION RECORDINGS' />
                    </form>
                </div>
            </div>
        </div>
        <div class='box-info'>
            <p><button onclick="closeLoginInfo();" class='b b-info i i-left' title='Back to Sign In'></button>
                <h3>Need Help?</h3>
            </p>
            <div class='line-wh'></div>
            <button onclick="" class='b-support' title='Forgot Password?'> Forgot Password?</button>
            <button onclick="" class='b-support' title='Contact Support'> Contact Support</button>
            <div class='line-wh'></div>
            <button onclick="" class='b-cta' title='Sign up now!'> CREATE ACCOUNT</button>
        </div>
    </div>


    <div class='icon-credits'>© Copyright <%= new Date().getFullYear(); %> 
        <a href="https://www.practee.com" title="Practee Technologies">Practee Technologies Pvt. Ltd.</a>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.10/sweetalert2.all.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script type="text/javascript " src="/vimeoLogin.js "></script>

</html>