<div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      &nbsp;
    </h2>
    <div class="text-center">
      <span class="text-2xl">Welcome <span class="font-semibold"><%= loginUserName %></span> to your PIP-board !</span> 
    </div>
  </div>