<div class="container px-6 mx-auto grid">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    &nbsp;Search For Slots:
  </h2>
  <!-- CTA -->
  <form action="/profile" method="GET" id="slotForm"
    class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple">
    <div class="flex items-center">
      <label class="block px-3 my-4 text-sm">
        <span class="text-gray-700 dark:text-black-400">&nbsp;Mentor</span>
        <select name="mentor"
          class="block w-full rounded-md mt-1 text-sm text-gray-700 dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
          <option>NA</option>
          <option>Mentor</option>
        </select>
      </label>
      <label class="block px-3 my-4 text-sm">
        <span class="text-gray-700 dark:text-black-400">&nbsp;Date</span>
        <input type="text" data-toggle="datepicker" autocomplete="off" name="date"
          class=" block w-full rounded-md mt-1 text-sm text-gray-700 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
        </input>
      </label>
      <label class="block px-3 my-4 text-sm">
        <span class="text-gray-700 dark:text-black-400">&nbsp;Duration</span>
        <select name="mentor"
          class="block w-full rounded-md mt-1 text-sm text-gray-700 dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
          <option selected>NA</option>
          <option>2 Weeks</option>
          <option>4 Weeks</option>
          <option>6 Weeks</option>
        </select>
      </label>
      <label class="block px-3 my-4 text-sm">
        <span class="text-gray-700 dark:text-black-400">&nbsp;Date</span>
        <input type="text" data-toggle="datepicker" autocomplete="off" name="date"
          class="block w-full rounded-md mt-1 text-sm text-gray-700 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" />
      </label>
    </div>
    <button id="submit_button" style="outline: none; box-shadow: none;" type="submit">Find Slots &RightArrow;</button>
  </form>


  <!-- General elements -->
  <div
    class=" p-4 border-t-2 bg-opacity-5 border-indigo-400 rounded-t-lg text-lg font-semibold bg-gray-800  dark:bg-gray-700"
    style="box-shadow: 0 0px 6px -1px rgb(0 0 0 / 0.1), 0 0px 4px -2px rgb(0 0 0 / 0.1);">
    <div class="max-w-sm mx-auto md:w-full md:mx-0">
      <div class="inline-flex items-center space-x-4">
        <img class="w-10 h-10 object-cover rounded-full" alt="User avatar"
          src="https://avatars3.githubusercontent.com/u/72724639?s=400&u=964a4803693899ad66a9229db55953a3dbaad5c6&v=4" />

        <h4 class="text-gray-600 dark:text-gray-300">Performance Improvment Parameters</h4>
      </div>
    </div>
  </div>

  <div class="px-4 py-3 mb-8 rounded-b-lg shadow-md bg-white dark:divide-gray-700 dark:bg-gray-800">
    <div class="space-y-6">
      <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-500 items-center">
        <h2 class="md:w-1/4 lg:1/6 max-w-sm mx-auto">Account</h2>
        <div class="md:w-3/4 lg:5/6 max-w-sm mx-auto">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Message</span>
            <textarea
              class="block w-full rounded-md mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
              rows="3" placeholder="Enter some long form content."></textarea>
          </label>
        </div>
      </div>

      <hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">
      <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-500 items-center">
        <h2 class="md:w-1/4 lg:1/6 max-w-sm mx-auto">Account</h2>
        <div class="md:w-3/4 lg:5/6 max-w-sm mx-auto">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Message</span>
            <textarea
              class="block w-full rounded-md mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
              rows="3" placeholder="Enter some long form content."></textarea>
          </label>
        </div>
      </div>

      <hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">
      <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-500 items-center">
        <h2 class="md:w-1/4 lg:1/6 max-w-sm mx-auto">Account</h2>
        <div class="md:w-3/4 lg:5/6 max-w-sm mx-auto">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Message</span>
            <textarea
              class="block w-full rounded-md mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
              rows="3" placeholder="Enter some long form content."></textarea>
          </label>
        </div>
      </div>

      <hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">
      <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-500 items-center">
        <h2 class="md:w-1/4 lg:1/6 max-w-sm mx-auto">Account</h2>
        <div class="md:w-3/4 lg:5/6 max-w-sm mx-auto">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Message</span>
            <textarea
              class="block w-full rounded-md mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
              rows="3" placeholder="Enter some long form content."></textarea>
          </label>
        </div>
      </div>

      <hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">
      <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-500 items-center">
        <h2 class="md:w-1/4 lg:1/6 max-w-sm mx-auto">Account</h2>
        <div class="md:w-3/4 lg:5/6 max-w-sm mx-auto">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Message</span>
            <textarea
              class="block w-full rounded-md mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
              rows="3" placeholder="Enter some long form content."></textarea>
          </label>
        </div>
      </div>

      <hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">
      <div class="w-full p-4 flex flex-col items-center text-gray-500">
        <div>
          <button
            class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
            Submit
          </button>
        </div>

      </div>
    </div>
  </div>


</div>